:root {
    --font-colour: #F0FFFF;
    --border-colour: #007;
    --alt-colour: #006BB7;
    --panel-bg-colour: #1E90FF;
    --small-font-size: 1.2em;
    --font-weight: 700;
    --wide-margin: 14px;
    --narrow-margin: 5px;
}
* {
    box-sizing: border-box
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: var(--font-colour);
    font-size: 16px;
}
#container {
    display: flex;
    height: 100%;
    padding: var(--wide-margin);
}
#mazeContainer {
    flex: 1 1 auto;
    min-width: 0;
}

.sidebarContainer {
    flex: 0 0 350px;
    flex-direction: column;
}
.menu-header {
    display:flex;
    padding:10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.disabled {
    pointer-events:none;
    opacity: 0.4;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.menu-title {
    flex:1;
    border: none !important;
    font-size: var(--small-font-size);
}

.icon {
    width:20px;
}

.menu-content {
    display: none;
    margin-bottom: 5px;
}

#algorithmSelector, #otherAlgorithmSelector {
    border: none !important;
}

#info{
    user-select: text;
    color: #222222;
}
.sidebarContainer li.selected, p.selected, button {
    background-color: var(--alt-colour);
    color: white;
}
.sidebarContainer div, .title {
    border: 1px solid var(--border-colour);
    background-color: var(--panel-bg-colour);
    border-radius: 3px;
}
.title {
    text-align: center;
    padding: 15px 0;
    margin-bottom: var(--wide-margin);
    border-radius: 10px;
}
h1 {
    margin: 0;
    font-weight:normal;
    font-size: 1.5em;
}
details ul {
}
.sidebar {
    display: flex;
    flex-direction: column;
}
details {
    display: block;
    border: 1px solid var(--border-colour);
    background: var(--panel-bg-colour);
    margin: 0 auto;
    margin-bottom: .5rem;
    font-size: 1.4em;
    text-align: center;
    height: 2rem;
    border-radius: 10px;
}

.details-container {
    display: flex;
    flex-direction: column;
}

.details-wrapper {
    margin-bottom: 16px;
}

details[open] + .other-elements {
    margin-top: auto;
}

/*.disclosure1--opened {
    margin-bottom: 450px;
}
.disclosure2--opened {
    margin-bottom: 150px;
}*/
.title a {
    font-size: var(--small-font-size);
}
.title a, .title a:visited {
    color: var(--alt-colour);
}
:where(button, li, .selectable):hover {
    background-color: #87CEFA;
    cursor: pointer;
}
li, #applyMask p {
    padding: 2px 5px;
}
.sidebarContainer ul {
    border: 1px solid var(--border-colour);
    padding: var(--narrow-margin) 0;
    list-style-type: none;
    font-size: var(--small-font-size);
    background-color: var(--panel-bg-colour);
    border-radius: 10px;
    margin: var(--narrow-margin) 0;
}
button {
    display: block;
    width: 100%;
    background-color: var(--panel-bg-colour);
    margin: 5px 0;
    border: 1px solid var(--border-colour);
    border-radius: 3px;
    padding: var(--narrow-margin) 0;
    font-size: 1em;
}
#go {
    font-weight: bold;
    font-size: 1.5em;
    height: 100px;
    border-radius: 10px;
}
div#info, div#details {
    margin-top: var(--wide-margin);
    background-color: white;
    padding: var(--wide-margin);
}
div#details em {
    font-style: normal;
    color: var(--alt-colour);
}
ul label {
    display: inline-block;
    width: 50px;
}
#shapeSelector li, #sizeParameters label {
    text-transform: capitalize;
}
#seedInput {
    width: 200px;
    margin-left: 1rem;
}
#play, #changeParams {
    margin-top: var(--wide-margin);
}

input[type="number"] {
    margin-left: 1rem;
    width: 10rem;
}